pdf {
  display: block;
  // no selection of divs (only textLayer)
  .ph-selection(none);
}

/* Don't use PDFJS's PNG shadow. */
pdf .page {
  box-shadow: 0px 0px 15px black;
  margin-bottom: 15px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
/*  margin-left: auto;
  margin-right: auto; */
  border: none;
  width:100%;
  position: relative;
}

.ph-page {
  box-shadow: 0px 0px 5px black;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 100%;
}

pdf .page .loadingIcon {
  background: none;
}

pdf .textLayer {
  // allow text selections
  .ph-selection(text);
}

pdf .page .annotLink > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:hover {
    opacity: 0.3;
    background: #ff0;
  }
}
